<section id="features" class="features">
  <div class="features__container">
    <div>
      <!-- Section Title -->
      <div class="features__title">
        <h2>
          Catálogo <a href="https://gettemplates.co" target="_blank">Rick & Morty</a>
        </h2>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          <br> pharetra augue. Donec id elit non mi.
        </p>
      </div>
      <!-- End of Section Title -->
      <div class="features__grid">
        <!-- Features Item -->
        <div class="col-md-4 col-sm-12 text-center mt-4">
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-cog fs-40"></i>
            </div>
            <h4>Easy to Customize</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-frame-contract fs-40"></i>
            </div>
            <h4>Pixel Perfect</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
        </div>
        <!-- End of Feature Item -->
        <!-- Features Item -->
        <div class="col-md-4 col-sm-12 text-center">
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-bubble fs-40"></i>
            </div>
            <h4>Full Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-magic-wand fs-40"></i>
            </div>
            <h4>Clean Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
        </div>
        <!-- End of Feature Item -->
        <!-- Features Item -->
        <div class="col-md-4 col-sm-12 text-center mt-4">
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-clock fs-40"></i>
            </div>
            <h4>Ontime Project</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
          <div class="shadow rounded features__item p-4 mb-4" data-aos="fade-up">
            <div class="my-4">
              <i class="lnr lnr-thumbs-up fs-40"></i>
            </div>
            <h4>Built with SASS</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
        </div>
        <!-- End of Feature Item -->
      </div>
    </div>
  </div>
</section>