<nav id="header-navbar" class="navbar">
  <div class="navbar__container">

    <a class="navbar__brand" href="/">
      {{brandTitle}}
    </a>
    <button class="navbar__toggler" type="button">
      <svg></svg>
    </button>
    <div class="navbar__actions" id="navbar-nav-header">
      <ul class="navbar__actions--nav">
        <li class="navbar__actions--item">
          <a class="navbar__actions--link" href="/">Home</a>
        </li>
        <li class="navbar__actions--item">
          <a class="navbar__actions--link" href="about.html">About</a>
        </li>
        <li class="navbar__actions--item">
          <a class="navbar__actions--link" href="blog.html">Blog</a>
        </li>
        <li class="navbar__actions--item">
          <a class="navbar__actions--link" href="contact.html">Contact</a>
        </li>
        <li class="navbar__actions--item navbar__actions--search">
          <a class="navbar__actions--link" href="#">
            <svg></svg>
          </a>
        </li>
        <li class="navbar__actions--item only-desktop" (click)="toggleSidenav()">
          <a class="navbar__actions--link navbar__actions--menu" href="#">
            <svg></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>